<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <!-- 
  Now this is our web.xml file.
  This file is also called also called as deployment descriptor.
  This is the heart of our project.
  This is responsible for connecting our backend to our frontend.
  
 There are two types of tags in this file i.e
 1) servlet tag.
 2) servlet-mapping tag.
 
 In servlet tag we have two more sub tags.
 1) servlet-name.
 2) servlet-calss.
 
In servlet-name tag we are suppose to give our servlet a name..
In servlet-class tag we are suppoe to give the name of class which is to be executed when the request is made at client side.

Now in Servlet-mapping tag we have two more tags i.e
1) Servlet-name.
2) url-pattern. 


In servlet name we will give the same name which we gave oin servlet tag.
In url pattern give the name which gave to the action tag in your form in your .html file.


for reference see below.... 

  -->
<servlet>
  
  <servlet-name>first</servlet-name>
  <servlet-class>Mohammad.Addition</servlet-class>
  
 </servlet> 
  
 
 <servlet-mapping>
  
  <servlet-name>first</servlet-name>
  <url-pattern>/add</url-pattern>
  
 </servlet-mapping>
 
</web-app>